
.logo {
   background-image: url('../img/pattern.png');
   background-color: rgb(0, 136, 255); 
   background-size: contain;  
   background-position: top;
   height: 100px;
   text-indent: 0em;


}
.text-color {
    color: rgb(0, 136, 255);
}

.evidenziatore {
    background-color: rgba(255, 255, 0, 0.596)
    ;
}
thead{
    background-color: rgb(0, 136, 255); 
    text-align: left;
    color: white;
    
}
.color-row{
    background-color: rgba(57, 160, 251, 0.525); ;
}


.link{
    color: gray;
    
}

.immagine1-link{
    background-image: url('../img/monitor.jpg');
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 10px;
} 

.immagine2-link{
    background-image: url('../img/graph.jpg');
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    color: white;
} 